version: '3.7'

services:

  sqldb:
    image: mariadb:latest
    volumes:
      - sql-data:/var/lib/mysql
    networks:
      - com.robinlashofregas.network

  blogapi:
    image: blogapi:1.0
    build:
      context: .
      dockerfile: src/services/BlogAPI/Dockerfile
    depends_on:
      - sqldb
    networks:
      - com.robinlashofregas.network

  webspa:
    image: webspa:1.0
    build:
      context: src/webspa
      dockerfile: ./Dockerfile
    depends_on:
      - blogapi
    networks:
      - com.robinlashofregas.network

volumes:
  sql-data:
