form {
    width: 80%;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

button {
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
}

textarea {
    height: 500px;
}

.centered-input {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}