<form [formGroup]="newBlogForm" class="full-page-form">

    <div class="centered-input">
        <mat-form-field appearance="fill">
            <mat-label>Blog Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
    </div>


    <div class="centered-input">
        <div>
            <button type="button" mat-raised-button (click)="fileInput.click()">Tile Image</button>
            <input hidden (change)="onSelectFile($event)" #fileInput type="file" id="file">
            <span>{{ selectedFile?.name }}</span>
        </div>
    </div>

    <div class="centered-button">
        <button mat-raised-button (click)="onSubmit(newBlogForm.value)" type="button">
            Create Blog
        </button>
    </div>

</form>
